*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore.properties
/app/src/main/res/values-sw600dp/.idea/workspace.xml
/app/src/main/res/values-sw600dp/.idea/vcs.xml
